#python virtual env
/venv/
/.venv/
/env/
/.env/
/activate
/lib/
/include/
/bin/

#artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
/build/
/dist/
build/

#environment/secrets
.env
*.env
.env.docker
.env.example

# IDEs
.vscode/
.idea/

# Other
.langchain/
.DS_Store
Thumbs.db